*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    scrollbar-width: none;
    background-color: #FFFFFF; 
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #404040;
}


.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}